.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  overflow: visible;
  border: none;
  border-bottom-color: green;
  border-bottom-style: double;
  margin: 5px;
}

.main-heading{
    border-bottom-style: double;
    color: darkolivegreen;  
}

.sub-heading{
    font-style: italic;
    color: darkred;  
}

#nav {
  height: 10em;
  line-height: 2em;
  padding: 0;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.list {
  list-style-type: none;
  padding-left: 0;  
}

.list li {
  padding: 10px;
  border-bottom: 1px solid grey;
}

.list li:hover {
  background-color: #fffbc3;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
